
@import url(otra-hoja-styles.css);


h1 {
    color: yellowgreen;
    background-color: black;
}


p {
    color: blueviolet;
}

#parrafo-2 {
    background-color: yellowgreen;
}


.bg-yellow {
    background-color: yellow;
}


.text-32 {
    font-size: 32px;
}

.text-20 {
    font-size: 20px;
}

.text-white {
    background-color: red;
}

.text-yellow {
    background-color: yellow;
}